@import 'global';

.article-preview {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  outline: $border;
  border-radius: 15px;
  margin: 0 0 10px;
  padding: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 100ms;

  &:hover {
    outline: rgba(0, 0, 255, 1) 2px solid;
  }
}

.article-preview-thumbnail {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  padding: 5px;
}

.article-preview-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 10px 15px;
}

.article-preview-title {
  color: #000;
  padding: 0;
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 600;
}

.article-preview-short-text {
  margin: 0 0 8px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  color: #5d5d5d;
}

.article-preview-reading-time {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  color: $subGrayText;
}
